# Python functions

In [1]:
'''def function():
    block of statement'''

'def function():\n    block of statement'

In [7]:
def print_name(name):
    '''this function prints the name'''       # this is known as doc string
    
    
    print ("hello" , name)
print_name("jenish")

hello jenish

# doc string

In [8]:
print(print_name.__doc__)

this function prints the name

# return stamenet

In [11]:
def tot_sum(lst):
    '''This returns the sum of the list elements'''
    _sum = 0
    for num in lst:
        _sum += num
    return _sum


lst = [1,2,3,4,5]
print(tot_sum(lst))

15

# Scope and life time of variable

In [12]:
global_var = "this is a global variable"

def test_life_time():
    '''It is function to test the variable'''
    
    local_var = "This is local variable"
    
    print(local_var)
    print(global_var)

# calling function

test_life_time()

print(global_var)

print(local_var)

This is local variable
this is a global variable
this is a global variable

NameError: name 'local_var' is not defined

# python program to find lcm and hcf

In [13]:
def hcf(a , b):
    '''computing hcf of two numbers'''
    
    smaller = b if a > b else a
    
    hc = 1
    for i in range(1,smaller+1):
        if(a%i == 0) and(b%i == 0):
            hc = i
    return hc

num1 = 98
num2 = 78


print(hcf(num1,num2))

2

# Types of function
- inbuilt <br>
- user defined

# Built-in functions

# 1. abs()

In [15]:
# to find the absolute values

print(abs(-2))

2

# all()

- return true if elements are iterable and returns false if not

In [17]:
a = [1,2,3,4]

print(all(a))


a = [0,1,2]   # since 0

print(all(a))

True
False

# dir()

In [18]:
number = [1,2,3]

dir(number)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# div mod()

- it will return quotient and remainder between tuples

In [19]:
print(divmod(9 , 2))

(4, 1)

# enumerate()

- it returns pair of numbers and index as output

In [21]:
a = [1,2,3,4]

for index, num in enumerate(a):
    print(index,num)

0 1
1 2
2 3
3 4

# filter()

In [23]:
def find_pos(num):
    if num > 0:
        return num
num_list = range(-10,10)

print(list(num_list))


pos = list(filter(find_pos,num_list))

print(pos)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

# isinstance()

In [27]:
lst = [1,2,3,4,5,6,7]


print(isinstance(lst, list))

True

# map()

In [28]:
# without map function to find the square of number


num = [1,2,3,4]

square = []

for i in num:
    square.append(i**2)
print(square)

[1, 4, 9, 16]

In [29]:
# with ummap

num = [1,2,3,4]

def power(num):
    return num**2

square = list(map(power , num))

print(square)

[1, 4, 9, 16]

# Function arguments

In [2]:
def greet(name , msg):
    print("hello {} this is the {}".format(name , msg))
greet('Jenish' , "How are yoy brother")

hello Jenish this is the good morning

In [3]:
# another method

def greet(name , msg = "Good morning"):      # default arguments
    print("hello {} this is the {}".format(name , msg))
greet('Jenish')

hello Jenish this is the Good morning

# Keyword arguments

In [5]:
def greet(**kwargs):
    print("hello {} this is the {}".format(kwargs['name'] , kwargs['msg']))
greet(name = 'Jenish' , msg = "How are yoy brother")


\
# it is actually key value pair

hello Jenish this is the How are yoy brother

# Arbitary arguments

In [6]:
# some times we dont know the number os arguments so we use arbitary argument



def greet(*names):
    for name in names:
        print(name)
    
greet('Jenish' , "bala" , "Murali")

Jenish
bala
Murali

# Recurssion
- function that calls itself is known as recursion

In [11]:
def fact(num):
    return 1 if num == 1 else (num*fact(num-1))
num = 5
print(fact(num))

120

# python code to print the fibonacci series

In [19]:
def fibo(num):
    '''This is a code to find the fibonacci of a number'''
    
    return num if num<=1 else (fibo(num-1) + fibo(num-2))

terms = 10
for num in range(terms):
    print(fibo(num))

0
1
1
2
3
5
8
13
21
34

# Anonyms function / Lambda function

- function wthout a name or tag is known as lambda function

In [21]:
# lambda argument : expression

double = lambda x : x**2

print(double(3))

9

In [22]:
# this is without lambda

def double(n):
    return n**2

double(3)

9

In [24]:
# examples with using filter()


lst = [1,2,3,4,5,6,7,8]

even_lst = list(filter(lambda x : x % 2 == 0 , lst))

print(even_lst)

[2, 4, 6, 8]

In [27]:
# example with using in map()

st = [1,2,3,4,5,6,7,8]

even_lst = list(map(lambda x : x**2 , lst))   # is we use x%2 we get output as true or false

print(even_lst)

[1, 4, 9, 16, 25, 36, 49, 64]