# List []

# List creation

In [2]:
a = [1,2,3,4]

b = ['a','b','c']

c = [[1,2,3],[4,5,6]]

print(c[1])

[4, 5, 6]

# List Length

In [4]:
n = [1,2,3,4,5,6,7,8,9]

print(len(n))

9

# List append

In [10]:
num = [1,2,3,4]
print(num)

num.append(5)
print(num)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]

# List Insert

In [11]:
num = [1,2,3,4]
print (num)

num.insert(2,10)
print(num)

[1, 2, 3, 4]
[1, 2, 10, 3, 4]

# List Remove

In [15]:
num = [1,2,10,3,4]
num.remove(10)  # specify the value to delete
print(num)

[1, 2, 3, 4]

# List append and extend

In [16]:
num = [1,2,3,4]

num1 = [5,6,7]

num.append(num1) # it adds the second list at the end
print(num)

[1, 2, 3, 4, [5, 6, 7]]

In [17]:
num = [1,2,3,4]

num1 = [5,6,7]

num.extend(num1) # this will join the second list with the first list
print(num)

[1, 2, 3, 4, 5, 6, 7]

# List delete

In [23]:
num = [1,2,3,4]

del num[0]
print(num)

# we can also use pop() to remove element

num.pop(0) # it will remove first element
num.pop(1)

print(num) # it will remove the second element

[2, 3, 4]
[3]

# List related keywords in python

In [26]:
# in is used to check an element is present in the list or not


num = [1,2,3,4,5,6]

if 1 in num:
    print("helloo")
    
if 7 not in num:
    print("this is world of ai")

helloo
this is world of ai

# List Reverse

In [27]:
num = [1,2,3,4,5]

num.reverse()

print(num)

[5, 4, 3, 2, 1]

# List sorting

In [31]:
# ascending order

num = [8,3,5,1,6,7]

#num.sort()
sor = sorted(num)  # can use any one of the method
print(sor)

[1, 3, 5, 6, 7, 8]

In [ ]:
# descending order

In [32]:
num = [1,2,3,4,5]
sor = sorted(num,reverse = True)

print(sor)

[5, 4, 3, 2, 1]

# List has multiple references

In [33]:
num = [1,2,3,4]

y = num

y.append(5)

print(num)

[1, 2, 3, 4, 5]

# Split a string to create a list

In [36]:
string = "Jenish is a beautiful men"

spl = string.split(' ')
print(spl)

['Jenish', 'is', 'a', 'beautiful', 'men']

In [38]:
string = "jeni,praveen,kumar"
spl = string.split(',')
spl

['jeni', 'praveen', 'kumar']

# List indexing

In [39]:
n = [1 , 2 , 3 , 4]
print(n[2])

3

#  List slicing

In [44]:
num = [1,2,3,4,5]

print(num[:])

print(num[1:2])

print(num[:3])

print(num[::2])

print(num[2::2])

[1, 2, 3, 4, 5]
[2]
[1, 2, 3]
[1, 3, 5]
[3, 5]

# List extend using "+"

In [47]:
num = [1,2,3,4,5]
name = ["varma",'Arjun']

#num.extend(name)

new = num+name
print(new)

[1, 2, 3, 4, 5, 'varma', 'Arjun']

# List count

In [49]:
num = [1,1,2,2,2,3,3,4]

#count is used to find the frequency of each element

print(num.count(1))
print(num.count(2))

2
3

# List looping

In [51]:
num = [1,2,3,3,4]

for ele in num:
    print(ele)

1
2
3
3
4

# List comprehension

In [52]:
squares = []

for i in range(10):
    squares.append(i**2) #list append
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [53]:
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [57]:
# examples

lst = [-10,-20,10,20,50]

# create a new list with values doubled

new = [i*2 for i in lst]
print(new)

# filter the list by taking only positive values

new1 = [i for i in lst if i>0]
print(new1)

# create a list of tuples like(number, square of number)

new2 = [(i,i**2) for i in lst]
print(new2)

[-20, -40, 20, 40, 100]
[10, 20, 50]
[(-10, 100), (-20, 400), (10, 100), (20, 400), (50, 2500)]

# Transpose of a matrix

In [60]:
matrix = [
    [1,2,3,7],
    [4,5,6,1],
    [7,8,9,5]
]

# transpose

transposed = []

for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)
print(transposed)

[[1, 4, 7], [2, 5, 8], [3, 6, 9], [7, 1, 5]]

In [61]:
transpose = [[row[i] for row in matrix] for i in range(4)]
print(transpose)

[[1, 4, 7], [2, 5, 8], [3, 6, 9], [7, 1, 5]]

In [62]:
trans = [[col[i] for col in transpose] for i in range(3)]
print(trans)

[[1, 2, 3, 7], [4, 5, 6, 1], [7, 8, 9, 5]]