# Pandas
<br>
<br>
Wheather dataset <br>
<br>
Questions<br>
<br>
- what is the maximum temp of nyc in jan?<br>
- on which day it rains?<br>
- what is the avg wind speed during the month?<br>

In [3]:
# loading the dataset and seeing it

import pandas as pd

df = pd.read_csv('weatherData.csv')
df

      Year  Month  Day  Hour  ...  SunriseHour SunriseMin  SunsetHour SunsetMin
0     2017      9   16     0  ...            5         37          18         4
1     2017      9   16     1  ...            5         37          18         4
2     2017      9   16     2  ...            5         37          18         4
3     2017      9   16     3  ...            5         37          18         4
4     2017      9   16     4  ...            5         37          18         4
...    ...    ...  ...   ...  ...          ...        ...         ...       ...
8753  2018      9   15    19  ...            5         37          18         4
8754  2018      9   15    20  ...            5         37          18         4
8755  2018      9   15    21  ...            5         37          18         4
8756  2018      9   15    22  ...            5         37          18         4
8757  2018      9   15    23  ...            5         37          18         4

[8758 rows x 13 columns]

In [4]:
# to find the maximum temperature

df['SunlightMin'].max()

906

In [7]:
# to know which date it rains

df['Day'][df['HourlySkyWeather'] == 'CLR']

0       16
1       16
2       16
3       16
4       16
        ..
8753    15
8754    15
8755    15
8756    15
8757    15
Name: Day, Length: 4229, dtype: int64

In [9]:
# to find the average wind speed

df['HourlyWindSpeed'].mean()

4.849508599508599