# Python keywords

In [44]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Identifiers

In [45]:
a = 10

b = "jenish"

print(a)
print(b)

10
jenish

# comments
single and multi-line comments

In [46]:
# this is single line comment

In [47]:
"""multi line comment
wont get executed
so dont worry be happy"""

'multi line comment\nwont get executed\nso dont worry be happy'

# Python statement

In [48]:
# single line statement
a = 1

In [49]:
# multiline statement

a = 1+2+3 +\
4+5+6+\
7+8+9

print(a)


# we can use paranthesis

b = (1+2+3+
4+5+6+
7+8+9)

print(b)

# another method

c = 10; d= 20; e = 50

print(c)
print(d)
print(e)

45
45
10
20
50

# varialble Assignment

In [50]:
# using assignment operator 

a = 10

c = "ml"

# Multiple Assignment

d , e , f = 10, 20,"jenish"

print(d)
print(e)
print(f)

10
20
jenish

# Storage location

In [51]:
a = 20

print(id(a))   # it will print the address of the variable a

4422107064

# Data Types

In [52]:
a = 5
print(a,"the type is",type(a))

5 the type is <class 'int'>

In [53]:
a = 5.2
print(a,"the type is",type(a))

5.2 the type is <class 'float'>

In [54]:
a = 1 + 2j
print(a,"the type is",type(a))

(1+2j) the type is <class 'complex'>

# String

In [55]:
s = "My name is Jenish"
print(type(s))

<class 'str'>

In [56]:
print(s[0])

M

In [57]:
print(s[-1])

h

In [58]:
s[5:]

'me is Jenish'

# List []

list is an ordered sequence of items. It is mostly used in python and it is very flexible.
all elements need not to be same type.
declared within [].
List is mutable ..... values can be changed

In [59]:
a = [10 , 20 , "jenish"]
a

[10, 20, 'jenish']

In [60]:
a[0] = 100
a              # the first element will be changed

[100, 20, 'jenish']

# Tuple ()

Ordered sequence of items.
Tuples are immutable.
Tuples cannot be modified
declared within ()

In [61]:
a = (0,1,2,3,'A')
a

(0, 1, 2, 3, 'A')

In [62]:
a[1] = 5 # we cannot change the value of the tuple

TypeError: 'tuple' object does not support item assignment

In [63]:
print(type(a))

<class 'tuple'>

#  set {}

set is unordered collection of unique items
set is unorded so we cant access elements in a set

In [64]:
a = {10,20,30,40,'A'}
a

{10, 20, 30, 40, 'A'}

In [65]:
a = {10,10,10,20,30,40,'A'}   # only one 10 will be displayed as output
a

{10, 20, 30, 40, 'A'}

In [66]:
print(type(a))

<class 'set'>

In [67]:
a[1]
a

TypeError: 'set' object is not subscriptable

# Dictionary

unordered collection of key-value pair
define within {}

In [73]:
d = {'a' : "apple",
    'b':"ball"}
print(d['a'])

apple

# Conversion between datatypes

In [74]:
float(5)

5.0

In [75]:
int(100.4)

100

In [76]:
str(20)

'20'

In [81]:
a = "jenish"
b = 1000

#print("congratulation" +a+"you just wrote"+b+"lines") it gives error as we cant add integer in string so we need to change the type

print("congratulation " +a+" you just wrote "+str(b)+" lines")

congratulation jenish you just wrote 1000 lines

# Python Output

In [82]:
print("helooo")

helooo

In [85]:
a = 10
print("the value of a is",a)
print("the value of a is "+str(a))

the value of a is 10
the value of a is 10

In [91]:
# output formating

a = 10
b = 20
print("the value of a is {} and the value of b is {}".format(a,b))

#position changing

print("the value of a is {1} and the value of b is {0}".format(a,b))

# using keyword argument to format the string

print("Hello {name}, {greeting}".format(name = "Jenish" , greeting = "Good Morning"))

the value of a is 10 and the value of b is 20
the value of a is 20 and the value of b is 10
Hello Jenish, Good Morning

# Python Input

In [92]:
n1 = int(input("Enter a number :"))
print(n1)

Enter a number :10
10

# Operators

1. Arithmetic operator
2. Comparison operator
3. Logical operator
4. Bitwise operator
5. Assignment operator
6. special operator

In [94]:
# 1. used to perform mathametical operations

a,b = 10,20

# add

print(a+b)

# Sub

print(a-b)

# mul

print(a*b)

# div

print(a/b)

# modulo div

print(a%b)

# floor div

print(a//b)

# Exponent

print(a**b)

30
-10
200
0.5
10
0
100000000000000000000

In [96]:
#2. used to compare the values returns true or false , <,>,<=,>=,==,!=

a,b = 10,20

print(a<b)
print(a == b)
print(a!=b)

True
False
True

In [98]:
#3. logical operators are "and,or,not"

a, b = True, False

print(a and b)
print(a or b)
print(not b)

False
True
True

In [99]:
#4. &, |, ~, ^, >>, << are bitwise operators

a,b = 10,4

print(a&b)
print(a|b)
print(~b)
print(a>>2)

0
14
-5
2

In [101]:
#5. assignment operators

a = 10

a+=10

a-=10

a

10

In [ ]:
#6. Special operators

# is and is not

In [102]:
a = 5
b = 5

print(a is b)

True

In [103]:
l1 = [1,2,3]
l2 = [1,2,3]

print(l1 is l2)

False

In [104]:
l1 = "Jenish"
l2 = "Jenish"

print(l1 is not l2)

False

In [106]:
#7. membership operator

l1 = [1,2,3,4]

print(1 in l1)   #true

print(7 in l1)   #false

True
False