# Sets

- a set is unordered collection of items <br>
- unique elements <br>
- used in union, intersection, symmetric difference, etc

# Set creation

In [1]:
s = {1,2,3}

print(type(s))

<class 'set'>

In [2]:
# set doesnt allow duplicates

s = {1,2,2,2,3,3}

s

{1, 2, 3}

In [3]:
# we can make set from a list 

s = set([1,2,3,4,5,5])
s

{1, 2, 3, 4, 5}

In [4]:
# initialize a set with set() method

a = set()
print(type(a))

<class 'set'>

# Add elements to set

- add single element using add() method <br>
- add multiple values using update() method <br>


- set doesnt allow indexing

In [5]:
s = {1,2}

s[1]

TypeError: 'set' object is not subscriptable

In [7]:
# add() method
s = set()

s.add(1)
s.add(2)

s

{1, 2}

In [9]:
s.update([5,6,7,8])

s

{1, 2, 5, 6, 7, 8}

# Remove element from a set

In [12]:
# using discard() method

s = {1,2,3,4}

s.discard(4)

print(s)


# using remove method

s.remove(3)

print(s)

{1, 2, 3}
{1, 2}

In [13]:
# removing element not present

s.remove(10)  # KEy error

KeyError: 10

In [15]:
# we can remove element randomly using pop()

s={1,2,3,4,5,6,7}

s.pop()

s

{2, 3, 4, 5, 6, 7}

In [16]:
# remove all element in a set

s={1,2,3,4,5,6,7}

s.clear()

# Python set operations

# Union |

In [19]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

union = s1 | s2

print(union)

# another way
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

# Intersection &

In [21]:
inter = s1 & s2
print(inter)

# another way

print(s1.intersection(s2))

{3, 4, 5}
{3, 4, 5}

# difference

In [25]:
print(s1-s2)

# another way

print(s1.difference(s2))

{1, 2}
{1, 2}

# Symmetric difference

In [27]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

print(s1 ^ s2)

# another way

print(s1.symmetric_difference(s2))

{1, 2, 6, 7}
{1, 2, 6, 7}

# issubset()

In [30]:
s1 = {1,2,3,4,5}
s2 = {1,2}

print(s1.issubset(s2))

print(s2.issubset(s1))

False
True

# Frozen set

- frozen set is also a set but we cant change values after it assigned<br>
- it will become like a tuple(immutable)

In [31]:
s1 = frozenset([1,2,3])
s2 = frozenset([3,4,5])

s1[2]

TypeError: 'frozenset' object is not subscriptable

In [32]:
# union

print(s1 | s2)

frozenset({1, 2, 3, 4, 5})

In [33]:
# intersection

print(s1 & s2)

frozenset({3})