# tuple

- Similar to list <br>
- we cant change elements in a tuple after values has been assigned

# Tuple creation

In [3]:
# empty tuple

t = ()
print(type(t))   # <class 'tuple'>

# tuple having integers

t = (1,2,3)
print(t)

# tuple having mixed values

t = (1,"Raju",2,"Dolu")
print(t)

# nested tuple

t = (1,(1,2,3),(1,"Raju",2,"Dolu"))
print(t)

<class 'tuple'>
(1, 2, 3)
(1, 'Raju', 2, 'Dolu')
(1, (1, 2, 3), (1, 'Raju', 2, 'Dolu'))

In [6]:
# only parenthesis is not enough

t = ('Jenish')
type(t)  # str


# we must use comma

t = ("Jenish",)
type(t)  # tuple


# or we dont need parenthesis

t = "Jenish",
type(t)  # tuple

tuple

# Accessing elements in a tuple

In [11]:
t  = (1,2,(3,4,5),6)

print(t[0])

print(t[-1])

print(t[2])

print(t[2][1])

1
6
(3, 4, 5)
4

In [14]:
t = (1,2,3,4,5,6,7)


#slicing

print(t[1:3])

print(t[-2])

(2, 3)
6

# Changes in tuple

- unlike list, tuples ate immutable<br>
- but if elements in a tuple are of mutable type like list then we can change it

In [16]:
t = (1,2,3,4,[5,6,7,8,9])

t[2] = 'x'

TypeError: 'tuple' object does not support item assignment

In [18]:
t[4][1] = "Bala"
print(t)

(1, 2, 3, 4, [5, 'Bala', 7, 8, 9])

# Concatinating tuples

In [19]:
t = (1,2,3) + (4,5,6)
t

(1, 2, 3, 4, 5, 6)

In [20]:
t = (("Sathish",)*4)
t

('Sathish', 'Sathish', 'Sathish', 'Sathish')

# Tuple 

- we cant delete elements in a tupke as they are immutatble<br>
- cant delete or remove items

In [22]:
t = (1,2,3,4)
del t           # entire tuple is deleted
print(t)

NameError: name 't' is not defined

# Tuple count

In [24]:
# used to get the frequency of each element in a tuple

t = (1,2,3,4,5,6,6,6,6,6)
t.count(6)

5

# Tuple membership

In [25]:
# test if an element is in tuple or not using keyword "is"

t = (1,2,3,4,5,5)
print(5 in t)

True

In [26]:
print(6 in t)

False

# Built in functions

# Tuple Length

In [28]:
t = (1,2,3,4,5)

print(len(t))

5

# Tuple Sort

In [31]:
t = (5,3,7,2,5,7,9,2,5)

new = sorted(t)
new

[2, 2, 3, 5, 5, 5, 7, 7, 9]

In [32]:
# max

print(max(t))

9

In [33]:
# min

print(min(t))

2

In [34]:
# sum

print(sum(t))

45